<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sbdevs.ecommerce">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.NotificationActivity"></activity>
        <activity android:name=".activities.SearchActivity" />
        <activity android:name=".activities.UpdateUserInfoActivity" />
        <activity android:name=".activities.OTPvarificationActivity" />
        <activity android:name=".activities.ProductSpecificDetailsActivity" />
        <activity android:name=".activities.MyCartActivity" />
        <activity android:name=".activities.ViewAllActivity" />
        <activity android:name=".activities.MyAddressActivity" />
        <activity
            android:name=".activities.AddAddressActivity"
            android:theme="@style/Address" />
        <activity android:name=".activities.DeliveryActivity" />
        <activity android:name=".activities.MyAccountActivity" />
        <activity android:name=".activities.MyWishlistActivity" />
        <activity android:name=".activities.OrderDetailsActivity" />
        <activity android:name=".activities.MyOrderActivity" />
        <activity android:name=".activities.ProductDetailActivity" />
        <activity android:name=".activities.CategoryActivity" />
        <activity
            android:name=".activities.MainActivity2"
            android:label="@string/title_activity_main2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>